# .gitignore

### Python / Django ###

# 仮想環境フォルダ (各自のPCにだけあれば良い)
venv/
env/

# Pythonが自動生成する一時ファイル（すべての階層・ディレクトリ）
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# ログファイル
*.log


db.sqlite3
db.sqlite3-journal

# 秘密情報を書くファイル (絶対に共有しない)
.env
*.env

# ユーザーがアップロードしたファイル置き場 (開発中は共有不要)
/media/

# `collectstatic`で集められた静的ファイル
/static_root/
/staticfiles/


### OS / エディタ固有のファイル ###

# Mac
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

*zoneidentifier